<p-blockUI [blocked]="loading">
    <!-- <div class="flex flex-column align-items-center justify-content-center h-full gap-3">
        <p-progressSpinner
            strokeWidth="4"
            class="w-4rem h-4rem">
        </p-progressSpinner>

        <span class="text-white text-lg font-medium">
            กำลังสร้างคอนเทนต์ด้วย AI...
        </span>
    </div> -->
</p-blockUI>


<!-- ===== Main Content ===== -->
<div class="header">
    <span class="header-label">AI Marketing</span>
    <span class="sub-content-label">
        สร้างคอนเทนต์การตลาดหลายแพลตฟอร์มด้วย AI
    </span>

    <div class="content">
        <div class="flex flex-column mb-3">
            <span class="content-label">สร้าง Campaign</span>
            <span class="sub-content-label">
                ให้ AI สร้างคอนเทนต์ที่น่าสนใจสำหรับแคมเปญการตลาดของคุณ
            </span>
        </div>

        <form [formGroup]="createForm">
            <div class="form">

                <!-- ชื่อสินค้า + กลุ่มเป้าหมาย -->
                <div class="flex col-12 p-0">
                    <div class="form-content col-6 p-0 pr-1">
                        <span>ชื่อสินค้า</span>
                        <input type="text" maxlength="50" pInputText fluid formControlName="productName"
                            placeholder="ตย. , ไก่ย่าง" />

                        <div class="flex justify-content-end mt-1 text-sm text-500">
                            {{ createForm.get('productName')?.value?.length || 0 }}/50
                        </div>
                    </div>

                    <div class="form-content col-6 p-0 pl-1">
                        <span>กลุ่มเป้าหมาย</span>
                        <input type="text" maxlength="50" pInputText fluid formControlName="targetGroup"
                            placeholder="ตย. , วัยรุ่น 20-35 ปี" />

                        <div class="flex justify-content-end mt-1 text-sm text-500">
                            {{ createForm.get('targetGroup')?.value?.length || 0 }}/50
                        </div>
                    </div>
                </div>

                <!-- แพลตฟอร์ม -->
                <div class="form-content mb-3">
                    <span class="block mb-2">แพลตฟอร์ม</span>

                    <p-multiSelect [options]="platforms" formControlName="platforms" optionLabel="name" display="chip"
                        defaultLabel="เลือกแพลตฟอร์มที่จะเจน" [style]="{ width: '100%' }" [filter]="false"
                        [showClear]="true">

                        <ng-template pTemplate="item" let-platform>
                            <div class="flex align-items-center gap-2">
                                <i [class]="platform.icon" [style.color]="platform.color" style="font-size: 1.2rem;">
                                </i>
                                <span>{{ platform.name }}</span>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="selectedItems">
                            <div *ngIf="!(createForm.get('platforms')?.value?.length)" class="text-500">
                                เลือกแพลตฟอร์มที่จะเจน
                            </div>

                            <div *ngIf="createForm.get('platforms')?.value?.length" class="flex gap-2 flex-wrap">

                                <div *ngFor="let option of createForm.get('platforms')?.value"
                                    class="surface-200 px-2 py-1 border-round flex align-items-center gap-2">
                                    <i [class]="option.icon" [style.color]="option.color">
                                    </i>
                                    <span class="text-sm font-bold">
                                        {{ option.name }}
                                    </span>
                                </div>
                            </div>
                        </ng-template>
                    </p-multiSelect>
                </div>

                <!-- Key Message -->
                <div class="form-content">
                    <span>Key Message</span>
                    <textarea maxlength="150" rows="5" pTextarea [autoResize]="true" formControlName="keyMessage"
                        placeholder="ตย. , ไก่ย่างหนังกรอบ เนื้อนุ่ม หอมเครื่องเทศ ย่างถ่านแท้"></textarea>

                    <div class="flex justify-content-end mt-1 text-sm text-500">
                        {{ createForm.get('keyMessage')?.value?.length || 0 }}/150
                    </div>
                </div>

                <!-- Button -->
                <div class="flex align-items-center justify-content-center mt-4">
                    <p-button styleClass="my-ai-button" severity="contrast" [raised]="true" icon="pi pi-bolt"
                        label="Generate with AI" [disabled]="loading" (click)="submitForm()">
                    </p-button>
                </div>

            </div>
        </form>
    </div>
</div>

<p-toast></p-toast>

<p-dialog [(visible)]="loading" [modal]="true" [closable]="false" [showHeader]="false"
    [style]="{width: '40vw', padding: '0' , height: '60vh', display: 'flex', 'align-items': 'center', 'justify-content': 'center'}">
    <div class="flex flex-column align-items-center justify-content-center h-full gap-4 w-full">
        <!-- <p-progressSpinner [style]="{width: '100px', height: '100px'}"></p-progressSpinner> -->
        <ng-lottie [options]="lottieOptions" style="width: 200px"></ng-lottie>
        <span class="text-black text-lg font-medium">
            กำลังสร้างคอนเทนต์ด้วย AI...
        </span>
        <p-progressBar [value]="progress" class="border-round-xl" [showValue]="false"
            [style]="{ width: '400px', height: '8px' }">
        </p-progressBar>


    </div>

</p-dialog>