.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 70px;
  /* ขนาดตอนหุบ */
  background-color: #1e293b;
  color: #f8fafc;
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1000;
}

.sidebar.expanded {
  width: 240px;
  /* ขนาดตอนกาง */
}

.sidebar-header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s;
}

.logo-icon {
  color: #4f46e5;
  font-size: 1.2rem;
}

.logo-text {
  font-weight: bold;
  white-space: nowrap;
}

/* ปุ่ม Toggle */
.toggle-btn {
  background: none;
  border: none;
  color: #f8fafc;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s;
}

.toggle-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.nav-list {
  list-style: none;
  padding: 10px 0;
  margin: 0;
  flex-grow: 1;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 24px;
  text-decoration: none;
  color: #94a3b8;
  transition: all 0.2s;
}

.nav-link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.05);
}

.nav-item.active .nav-link {
  color: #fff;
  background-color: #4f46e5;
  border-right: 4px solid #5D8BF4;
}

.nav-icon {
  min-width: 24px;
  font-size: 1.2rem;
}

.nav-text {
  margin-left: 15px;
  animation: fadeIn 0.3s;
}

.nav-text,
.logo-text {
  opacity: 0;
  visibility: hidden;
  margin-left: 15px;
  white-space: nowrap;
  transition: opacity 0.2s ease-in-out 0.3s, visibility 0.2s ease-in-out 0.3s;
}

.sidebar.expanded .nav-text,
.sidebar.expanded .logo-text {
  opacity: 1;
  visibility: visible;
}

/* ===== Profile Section Bottom Sidebar ===== */

.sidebar-profile {
  padding: 12px 8px;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.profile-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* รูปโปรไฟล์ */
.profile-avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

/* ข้อมูล user */
.profile-info {
  overflow: hidden;
  animation: fadeIn 0.3s;
}

.profile-name {
  font-size: 13px;
  font-weight: 600;
  color: #f1f5f9;
  white-space: nowrap;
}

.profile-email {
  font-size: 11px;
  color: #94a3b8;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

/* ตอน sidebar หุบ เหลือแค่รูป */
.sidebar:not(.expanded) .profile-info {
  display: none;
}

.sidebar:not(.expanded) .profile-content {
  justify-content: center;
}

.logout-btn{
  background: none;
  border: none;
  color: #fb7575;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}